/* css de la page index des voeux grande école du numérique */


/* SVG styles */


svg {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    margin-top: -10%;
}
                        #svgmess {
                            margin-top: -20%;
                            max-width: 100%;
                            background: top right;
                        }


/* crédits */


                  #social_network {
                      max-width: 100%;
                      text-align: center;
                      margin-top: -250px;
                  }
                  #POP {
                      font-size: 1em;
                      font-family: cursive;
                      color:black;
                  }
                  #fb {
                      width: 50px;
                      margin-top: 50px;
                  }

                                                      @media screen and (max-width:1280px) {
                                                        #social_network {
                                                            max-width: 100%;
                                                            text-align: center;
                                                            margin-top: 0px;
                                                        }
                                                        #POP {
                                                            font-size: 1em;
                                                        }
                                                        #fb {
                                                            width: 50px;
                                                            margin-top: 10px;
                                                        }

                                                      }
hr {
  max-width: 30%;
}
